@media screen and (min-width: 768px) {
    .functioning-header, .steps-container, .restaurants-header, .block-cards-restaurants {
        max-width: 750px;
        margin: auto;
    }
    .functioning-header, .restaurants-header {
        margin-bottom: 20px;
    }
    .section-menu-header {
        justify-content: center;
        .heart {
            margin-left: 30px;
        }
    }
    .footer-navigation-list {
        text-align: center;
    }
}
@media screen and (min-width: 992px) {
    .functioning-header, .steps-container, .restaurants-header, .block-cards-restaurants {
        max-width: 950px;
    }
    .steps-container, .block-cards-restaurants {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .functioning-steps {
        width: calc(100% / 3 - 30px);
    }
    .card-restaurant {
        width: calc(100% / 2 - 7.5px);
    }
    .img-menu {
        height: 350px;
    }
    .menu-restaurant {
        display: flex;
        justify-content: space-between;
        max-width: 1199px;
        margin: auto;
        .menu-starters, .menu-main-dishes, .menu-desserts {
            width: calc(100% / 3 - 15px);
        }
    }
}