@media screen and (min-width: 768px) {
    /* .steps-conteiner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .functioning-steps {
            min-width: 250px;
            span {
                padding-right: 10px;
                white-space: nowrap;
            }
        }
    } */
    /*.card-details {
        width: 300px;
    }*/
    /* .steps-container, .block-cards-restaurants, .menu-container {
        max-width: 750px;
        margin: auto;
        /*display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .card-restaurants {
            width: calc(100% / 2);
            .card-img-restaurants {
                width: 350px;
            }
        }
    }*/
    .footer-navigation-list {
        text-align: center;
    }
}
@media screen and (min-width: 992px) {
    
}